:root {
  --color-blue-n1: #B9E1F7;
  --color-blue-n2: #91CDEB;
  --color-blue-n3: #4798EB;
  --color-blue-n4: #004B73;
  --color-green-n1: #51cc61;
  --color-green-n2: #4ABA58;
  --color-grey: #666666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--color-blue-n1);
  font-family: 'Poppins', sans-serif;
  color: var(--color-blue-n4);
  height: 100vh;
  width: 100vw;
}

.client-screen {
  display: flex;
}

.side-bar {
  padding: 1rem;
  max-width: 30vw;
  height: 100vh;
  display: grid;
  align-items:flex-start;
  background: var(--color-blue-n2);
}
.side-bar .logo-img img {
  max-height: 1.7rem;
}
.side-bar ul li {
  padding: .8rem 0;
}
.side-bar ul li a {
  display: flex;
  align-items: center;
  gap: .4rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-blue-n4);
  font-size: 10pt;
}
.side-bar ul {
  list-style: none;
}
.side-bar #img-history-ticket {
  height: 1.5rem;
  width: 2.5rem;
}
.side-bar #img-contacts {
  height: 2rem;
  width: 2rem;
}

.container {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: .3fr 1fr;
  padding: 3rem;
}
.top-bar {
  text-align: center;
}
#data-table {
  background: var(--color-blue-n2);
  font-size: 11pt;
  border-radius: 1rem;
  border-spacing: 0;
  padding-bottom: 0.5rem;
}
#data-table th {
  padding: 0.2rem 2.5rem;
  color: whitesmoke;
  background: var(--color-blue-n4);
  text-align: center;
}
#data-table th:first-child {
  border-radius: 1rem 0 0 0;
  padding: 0 1rem;
}
#data-table th:last-child {
  border-radius: 0 1rem 0 0;
  padding: 0 1rem;
}
#data-table td {
  text-align: center;
  padding: .3rem 0;
  border-bottom: solid rgb(0, 75, 115, .1) 1.5px;
}
#tbody td a {
  text-decoration: none;
  color: var(--color-blue-n4);
}
#data-table td a img {
  height: 1rem;
}
.new-ticket.client-screen {
  display: flex;
  justify-content: end;
}
.new-ticket.client-screen input {
  border-style: none;
  padding: .6rem 3rem;
  border-radius: .5rem;
  margin-top: .3rem;
  background: var(--color-green-n2);
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 11pt;
}
.new-ticket.client-screen input:hover {
  background: var(--color-green-n1);
}

.new-ticket-screen.active {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, .5);
  backdrop-filter: blur(1px); /*efeito borrado*/
}
.new-ticket {
  height: 60vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.new-client-ticekt form {
  display: flex;
  flex-wrap: wrap;
}