:root {
  --color-blue-n1: #B9E1F7;
  --color-blue-n2: #91CDEB;
  --color-blue-n3: #4798EB;
  --color-blue-n4: #004B73;
  --color-green-n1: #51cc61;
  --color-green-n2: #4ABA58;
  --color-grey: #666666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--color-blue-n1);
  font-family: 'Poppins', sans-serif;
  color: var(--color-blue-n4);
  height: 100%;
  width: 100%;
}

.client-screen {
  display: flex;
}
/*=====================> BARRA LATERAL <=====================*/
.side-bar {
  padding: 1rem;
  max-width: 30vw;
  height: 100vh;
  display: grid;
  align-items:flex-start;
  background: var(--color-blue-n2);
}
.side-bar .logo-img img {
  max-height: 1.7rem;
}
.side-bar ul li {
  padding: .8rem 0;
}
.side-bar ul li a {
  display: flex;
  align-items: center;
  gap: .4rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-blue-n4);
  font-size: 10pt;
}
.side-bar ul {
  list-style: none;
}
.side-bar #img-history-ticket {
  height: 1.5rem;
  width: 2.5rem;
}
.side-bar #img-contacts {
  height: 2rem;
  width: 2rem;
}

/*=====================> TELA DE HITÓRICO DE TICKET <=====================*/
.container {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: .3fr 1fr;
  padding: 3rem;
}
.top-bar {
  text-align: center;
}
#data-table {
  background: var(--color-blue-n2);
  font-size: 11pt;
  border-radius: 1rem;
  border-spacing: 0;
  padding-bottom: 0.5rem;
}
#data-table th {
  padding: 0.2rem 2.5rem;
  color: whitesmoke;
  background: var(--color-blue-n4);
  text-align: center;
}
#data-table th:first-child {
  border-radius: 1rem 0 0 0;
  padding: 0 1rem;
}
#data-table th:last-child {
  border-radius: 0 1rem 0 0;
  padding: 0 1rem;
}
#data-table td {
  text-align: center;
  padding: .3rem 0;
  border-bottom: solid rgb(0, 75, 115, .1) 1.5px;
}
#tbody td a {
  text-decoration: none;
  color: var(--color-blue-n4);
}
#data-table td a img {
  height: 1rem;
}

.new-ticket-button.client-screen {
  display: flex;
  justify-content: end;
}
.new-ticket-button.client-screen input {
  border-style: none;
  padding: .6rem 3rem;
  border-radius: .5rem;
  margin-top: .3rem;
  background: var(--color-green-n2);
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 11pt;
}
.new-ticket-button.client-screen input:hover {
  background: var(--color-green-n1);
}

/*=====================> TELA DE NOVO TICKET <=====================*/
.new-ticket-screen {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.new-ticket-screen.active {
  display: grid;
  visibility: visible;
  opacity: 1;
  align-items: center;
  justify-items: center;

  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, .5);
  backdrop-filter: blur(1px); /*efeito borrado*/
}
.new-ticket {
  height: 90%;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*=====================> NOVO TICKET <=====================*/
.new-client-ticekt {
  /* height: 80%; */
  /* width: 80%; */

  padding: 1.5rem;
  background: var(--color-blue-n2);
  border-radius: 1rem;
}
.new-client-ticekt form input {
  border-style: none;
  border-radius: .3rem;
  font-size: 12pt;

  margin-bottom: .5rem;
  width: 100%;
  gap: 1rem;
  padding: .5rem;
}
.info-primary-ticket {
  display: flex;
  gap: 1%;
}
.category-subcategory {
  gap: 1%;
}
.category-subcategory select {
  border-style: none;
  border-radius: .3rem;
  height: 2.3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  /* color: #757575; */
}
.new-client-ticekt form p {
  display: flex;
  justify-content: space-between;
}
.new-client-ticekt #description-new-ticket {
  resize: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
  padding: .5rem;
  border-style: none;
  border-radius: .3rem;
}
.buttuns-new-ticket {
  display: flex;
  gap: 50%;
}
#btn-cancell-new-ticket,
#btn-criate-new-ticket {
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  width: 10rem;
}
#btn-cancell-new-ticket {
  background: rgb(180, 0, 0);
}
#btn-criate-new-ticket {
  background: var(--color-green-n2);
}
#btn-cancell-new-ticket:hover {
  background: rgb(228, 0, 0);
}
#btn-criate-new-ticket:hover {
  background: var(--color-green-n1);
}